/* A font family name and a generic family name */
body {
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    background-color: #ececec;
}

div {
    font-size: large;
}

nav {
    font-size: larger;
    font-weight: bold;
}

nav.navbar {
    background-color: rgb(19, 19, 19);
}

div h4 {
    font-weight: bold;
}

div.backim {
    background: linear-gradient(rgba(230, 230, 230, 0.85), rgba(255,255,255,.85)), url("../file/GettyImages-960988574_4c.jpg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


